.alert-info {
    background-color: #F4F6F7;
    border: none;
    border-radius: 5px;
    color: #8C8C8C;
    padding-left: 60px;
}

.alert-danger {
    color: #e91b0c;
    border-color: #f55246;
    border: none;
    border-radius: 5px;
    padding-left: 60px;
}

.alert-success {
    border: none!important;
    border-radius: 5px;
    padding-left: 60px;
}

.alert[class*=alert-styled-].alert-info:after, .alert[class*=alert-styled-][class*=bg-info]:after {
    color: #8C8C8C;
    content: '\f0f3';
}

.alert[class*=alert-styled-].alert-danger:after, .alert[class*=alert-styled-][class*=bg-danger]:after {
    color: #e91b0c;
    content: '\f071';
}

.alert[class*=alert-styled-].alert-success:after, .alert[class*=alert-styled-][class*=bg-success]:after {
    color: #285b2a;
    content: '\f14a';
}

.alert[class*=alert-styled-]:after {
    left: 6px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}