.btn {
    padding: 9px 12px;
    font-size: 15px;
    height: 36px;
    line-height: 1.09;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: none!important;
}

.btn-tertiary {
    background-color: #3D3D3D;
    color: #fff;
}

.btn-tertiary:hover {
    background-color: hsla(0, 0%, 30%, 1);
    color: #fff!important;
}

.btn-primary {
    background-color: #FCC018;
    color: #212121;
}

.btn-primary:hover {
    background-color: #F0B717;
    color: #212121;
}

.btn-icon i {
    margin-right: 6px;
    font-size: 16px;
}

.btn-action {
    background-color: #E5F4FF;
    height: 32px!important;
    color: #2196F3;
    padding: 0 10px;
    line-height: 1.9;
}

.btn-action:after {
    vertical-align: unset;
}

.btn-action:hover {
    color: hsla(207, 90%, 40%, 1);
}

.btn-action i {
    margin: 0;
}

.btn[disabled] {
    opacity: 1;
    background-color: #F4F6F7;
    color: #DBDDDE;
}

.btn-small {
    height: 32px;
    padding: 7px 12px;
    line-height: 1;
}

.btn-secondary {
    background-color: #E5F4FF;
    color: #2196F3;
}

.btn-secondary:hover {
    background-color: hsla(205, 100%, 90%, 1);
    color: #2196F3;
}

.btn-link:hover {
    background-color: #2196F3;
    color: #fff;
}

.btn-link {
    border-radius: 5px!important;
    padding: 1px 12px!important;
    text-align: center;
    line-height: 1.85;
    overflow: hidden;
    height: 32px!important;
}

.btn-alpha-warning {
    background-color: #FFE7E5;
    color: #F44336;
}

.btn-alpha-warning:hover {
    background-color: hsla(5, 100%, 90%, 1);
    color: #F44336;
}

.btn-danger:hover {
    color: #fff;
    background-color: hsla(4, 90%, 48%, 1);
}

.btn-back + .page-title {
    margin-left: 100px;
}

.btn-back {
    position: absolute;
    font-size: 14px;
    border: solid 1px #DBDDDE;
    background-color: #FFFFFF;
    padding: 8px 10px;
    line-height: 1;
    padding-left: 7px;
    height: 32px;
}

.btn-back i {
    font-size: 13px;
}

.btn-back:hover {
    background-color: hsla(0, 0%, 95%, 1);
}

.page-header-back-btn i {
    font-size: 12px;
}

.page-header-back-btn {
    width: 25px;
    height: 25px;
    background-color: #F4F6F7;
    position: absolute;
    left: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    line-height: 1.8;
    color: #212121;
    transition: all 0.4s;
}

.page-header-back-btn:hover {
    color: #fff;
    background-color: #212121;
    transition: all 0.4s;
}