body {
    font-family: 'Barlow',Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    color: #212121;
    overflow: hidden;
}

body .content-wrapper > .content {
    overflow-y: scroll;
    height: 1px;
}

label.error {
    color: red;
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 3px;
}

.sidebar-content input[type=search] {
    background-color: #384256;
    color: white;
}

.sidebar-content .form-group-feedback.form-search .form-control-feedback i {
    color: white;
}

.list-feed-time .list-feed-item .feed-time {
    left: -85px!important;
}

.required-asterisk {
    color: red;
}

.navbar-collapse {
    height: 64px;
    background-color: #212121;
    border: none;
}

.navbar {
    border: 0;
}

.navbar-header, .sidebar {
    background-color: #212121;
    box-shadow: 5px 6px 6px #00000020!important;
    z-index: 1!important;
    width: 270px!important;
    position: relative;
}

.content .sidebar {
    box-shadow: none!important;
    width: auto!important;
}

.navbar-header .navbar-brand {
    margin: 13px 24px;
    padding: 0px 0px 0px 0px;
    min-width: unset;
}

.nav-item-header-text {
    color: #ffffff50;
    font-size: 14px;
    font-weight: 500;
}

.navbar-brand img {
    height: 38px;
}

.page-header, .page-header-content {
    height: 62px;
}

.page-header {
    border-bottom: solid 1px #DBDDDE;
}

.page-title-text {
    color: #212121;
    font-weight: 500;
    font-size: 22px;
}

.page-header-content {
    padding: 18px 20px 18px;
}

.nav-sidebar {
    padding: 0px 20px;
}

.nav-item-header {
    padding: 12px 0px!important;
    margin: 0!important;
}

.nav-link {
    padding: 13px!important;
    font-weight: 500!important;
    font-size: 15px;
    line-height: 19px;
    color: #ffffff50!important;
}

.nav-sidebar .nav-link i {
    margin: 0px 13px 0px 0px;
    line-height: 19.5px;
    font-size: 15.4px;
}

.nav-link {
    border-radius: 5px;
}

.nav-link.active, .nav-link:hover {
    color: #fff!important;
    background-color: #3D3D3D!important;
    border-radius: 5px;
}

.nav-sidebar .nav-item:not(.nav-item-divider) {
    margin-bottom: 5px!important;
}

.sidebar-extender {
    width: 25px;
    height: 26px;
    background-color: #FCC018;
    position: absolute;
    right: -25px;
    color: #212121;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding-right: 2px;
    cursor: pointer;
}

.sidebar-extender i {
    line-height: 1.85;
}

.sidebar-xs .navbar-header, .sidebar-xs .sidebar {
    width: 70px!important;
}

.sidebar-xs .nav-sidebar {
    padding: 0px 12px;
}

@media only screen and (max-width: 767.98px) {
    .sidebar-xs .navbar-header, .sidebar-xs .sidebar {
        width: 270px!important
    }
}

.navbar-header .navbar-brand-xs {width: 100%;margin: 0;}

.sidebar-content, .sidebar-content .card, .nav-sidebar {
    height: 100%;
}

.nav-sidebar .nav-item.nav-profile {
    margin-top: auto!important;
}

.sidebar:not(.sidebar-component) .sidebar-content {
    top: unset!important;
}

.badge-orange {
    background-color: #FCC018;
}

.badge-rounded {
    border-radius: 3px;
}

.badge {
    font-size: 12px;
    font-weight: 600;
    padding: 3px 7px;
    height: 19px;
}

.first-letter-capitalize::first-letter {
    text-transform: capitalize;
}

.card {
    box-shadow: 0 4px 10px #00000012;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
}

.card-header {border-bottom: solid 1px #DBDDDE!important;}

.card-body {
    padding: 20px;
    padding-top: 20px!important;
}

.form-control {
    font-size: 16px;
    font-weight: 500;
    height: 36px;
}

::-webkit-scrollbar {
    width: 6px!important;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #DBDDDE;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #212121;
}

.page-header-content {
    padding-left: 20px;
}

/* Loader */
.loader {
    margin: 0 auto;
    width: 100px;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translate(-25px, -100px);
    z-index: 100;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: #212121;
    }
}

.showbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
}

.blur {
    filter: blur(4px);
    pointer-events: none;
}

.img-error {
    border: solid 1px red;
}

.card-small .card-header, .card-small .card-body{
    padding: 12px 12px!important;
}

.media-list-linked .media {
    padding: 0;
    border: none!important;
    margin-bottom: 12px;
}

.media-list-linked .media img {
    height: 46px;
    width: 46px;
    border-radius: 3px;
}

.media-list-linked .media .media-title {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    height: auto;
}

.media-body {
    max-width: 182px;
}

.media-list-linked li:last-of-type .media {
    margin: 0;
}

.sidebar.sidebar-full-content {
    width: auto!important;
}

.nav-pills .nav-item .nav-link {
    color: #212121!important;
    font-size: 16px;
    font-weight: 500!important;
    padding: 13px 17px!important;
    border: none;
}

.nav-pills .nav-item .nav-link:hover {
    background-color: #DBDDDE!important;
}

.nav-pills .nav-item .nav-link.active {
    background-color: #fff!important;
    box-shadow: 0 3px 10px #00000012;
}

.nav-pills {
    min-width: 320px!important;
}

.nav-pills-product-data .nav-item .nav-link {
    height: 27px;
    line-height: 1.2;
    border: solid 1px #DBDDDE;
    background-color: #fff;
    padding: 4px 12px!important;
    text-transform: uppercase;
    font-size: 14px;
}

.nav-pills-product-data .nav-item .nav-link.active {
    background-color: #212121!important;
    color: #fff!important;
    border-color: #212121!important;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.nav-pills-prduct-data .nav-item+.nav-item {
    margin: 0!important;
}

.nav-pills-product-data .nav-item {
    margin: 0!important;
    margin-top: 7px!important;
}

.nav-pills-product-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}

.icon_mirrored {-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);-ms-transform: scale(-1, 1);transform: scale(-1, 1);}

.nav-pills.nav-pills-card .nav-link {background-color: #F1F3F4!important;height: 27px;font-size: 14px!important;line-height: 2;padding: 0px 10px!important;text-transform: uppercase;}

.nav-pills.nav-pills-card .nav-item .nav-link.active {
    background-color: #2196F3!important;
    color: #fff!important;
}

.nav-pills-card .nav-item {
    margin-left: 7px;
    margin-top: 7px;
}

.navbar-dark {
    background-color: #212121;
}

.feed-time {
    position: absolute;
    left: 0;
    top: 2px;
}

.list-feed-item {
    padding-left: 7rem;
}

.list-feed-item:before {
    border: 2px solid #212121;
    left: 5.3rem;
    top: 7px;
}

.list-feed-item:after {
    border-right: 0;
    border-left: solid 2px #212121;
    left: 5.5rem;
}

.color-black {
    color: #212121;
}

.text-underlined {
    text-decoration: underline;
}

.info-container {
    margin-bottom: 70px;
}

.role-standard {
    background-color: #2196F3;
    color: #fff;
}

.role-standard:after {
    background-color: #1687E3;
}

.content .sidebar-filters {
    width: 340px!important;
    margin-left: 0!important;
}

.sidebar-slider .sidebar-content .card {
    overflow-y: scroll;
}

.filter-none {
    filter: none!important;
}

.img-container {
    position: relative;
}

.color-red {
    color: #F44336;
}

.color-green {
    color: #17A672;
}

.fake-wallet-card .card-body .card-icon-wrapper,
.wallet-card .card-body .card-icon-wrapper {
    text-align: center;
}

.fake-wallet-card .card-body .card-icon-wrapper > i,
.wallet-card .card-body .card-icon-wrapper > i {
    font-size: 70px;
    margin: 0!important;
}

.table-responsive table.table tr {
    border-bottom: solid 1px #b7b7b7;
}

.table-responsive table.table .badge {
    margin-right: 1.3125rem!important;
}

.bg-primary {
    background-color: #FCC018!important;
    color: #212121!important;
}

.modal-header .page-title-text {
    margin: 0px;
}

.header-elements > *{
    margin-right: 15px;
}

.header-elements > *:last-child{
    margin: 0;
}

.fake-wallet-card .card {
    border: 2px dashed rgba(0,0,0,.125);
    background-color: whitesmoke!important;
    box-shadow: none;
}

.fas-icon-3x {
    font-family: 'Font Awesome 5 Free'!important;
    font-size: 3rem!important;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #00000020;
    margin-bottom: 1.25rem;
}

.card.card-body .media .media-body {
    max-width: unset!important;
}

.datarangepicker-model-fix {
    left: 120px!important;
    display: flex;
    width: 100%!important;
}

.datarangepicker-model-fix .ranges {
    margin-left: 20px;
}

.datatable-header {
    top: -90px!important;
}

.no-animation {
    transform: none!important;
    cursor: auto!important;
}

.no-animation *{
    transform: none!important;
    cursor: auto!important;
}