.dropdown-menu {
    padding: 0;
    width: 200px;
    margin-top: 5px;
    border: solid 1px #DBDDDE;
    box-shadow: 0 3px 6px #00000012;
}

.dropdown-item, .dropdown-item-text {
    padding: 15px 10px;
    height: 44px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.dropdown-item+.dropdown-item, .dropdown-item+.dropdown-submenu, .dropdown-submenu+.dropdown-item {
    margin: 0;
}

.dropdown-item i {
    margin-right: 12px;
}

.dropdown-item:hover {
    background-color: #F9FBFC;
}

.dropdown-item-text {
    font-size: 15px;
    font-weight: 600;
}

.dropdown-item, .dropdown-item-text {
    border-radius: 5px;
}

.dropdown-item:hover {
    color: #2196F3;
}

.dropdown-menu {
    padding: 12px;
    min-width: 220px;
}

.dropdown-toggle[aria-expanded=true]:after {content: '\e9ca';
}

