input.error, input.error:focus {
    border: solid 1px red!important;
}

.form-control.dataTable_searchbox {
    display: inline-block!important;
    min-width: 172px;
    width: 40%;
}

.select2-container--search_datatable {
    display: inline-block!important;
    width: unset!important;
    margin-left: 10px;
}

.select2-container--search_datatable > .select2-dropdown {
    width: 200px!important;
}

.multiselect-always-open + .btn-group .multiselect.btn {
    display: none!important;
}

.multiselect-always-open + .btn-group .multiselect-container {
    display: block!important;
    position: static!important;
    transform: none!important;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

.multiselect-always-open + .btn-group .multiselect-container .multiselect-item.active {
    color: #333;
    background: transparent;
}

.multiselect-always-open + .btn-group .multiselect-container .multiselect-item.active .form-check-control-indicator {
    border-color: #455a64;
    color: #455a64;
}

.multiselect-always-open + .btn-group .multiselect-container .multiselect-filter {
    padding: 0;
}

.select2-container--search_datatable > .select2-dropdown {
    min-width: 300px!important;
    left: -72px;
    top: 5px;
    border: solid 1px #DBDDDE;
    border-radius: 5px;
}

.select2-search--dropdown {
    padding: 12px;
    padding-bottom: 6px;
}

.select2-results__options {
    padding: 0px 12px!important;
    padding-right: 6px!important;
    padding-top: 12px!important;
}

.select2-results__option {
    width: 100%!important;
    max-width: unset;
    margin: 0!important;
}

.select2-results__option .item-label {
    margin: 0!important;
    width: 100%!important;
    padding: 7px 12px!important;
}

.select2-results__option .item-label {
    margin: 0;
    width: 100%;
    padding: 8px 12px;
}

.s2-to-tree.select2-container li.select2-results__option[aria-selected="true"] > span.item-label {
    background-color: transparent!important;
}

.select2-results__option {
    font-size: 14px!important;
}

.select2-results__option .expand-collapse {
    right: 23px;
    position: absolute;
}

.select2-results {
    padding-bottom: 12px;
}

.select2-results__option {
    border-radius: 5px;
}

.select2-results>.select2-results__options {overflow-y: scroll;}

select {postion:relative;border-radius: 5px;height: 36px!important;padding: 9px 12px!important;font-size: 15px!important;color: #212121!important;font-weight: 500;padding-top: 7px!important;min-width: 50px!important;background: none!important;}

.select2-results__option--highlighted, .select2-results__option--highlighted .item-label {
    background-color: #F9FBFC!important;
    border-radius: 5px;
    color: #2196F3!important;
}

.select2-results__option[aria-selected=true], .select2-results__option[aria-selected=true] .item-label {
    background-color: #2196F3!important;
    color: #fff!important;
}

.select2-results__option.l2 .item-label {
    padding-left: 20px!important;
}

.select2-results__option.l3 .item-label {
    padding-left: 40px!important;
}

.select2-results__option.l4 .item-label {
    padding-left: 60px!important;
}

.select2-results__option.l5 .item-label {
    padding-left: 80px!important;
}

.s2-to-tree li.select2-results__option.non-leaf .expand-collapse:before {
    height: 30px;
    width: 30px;
    text-align: center;
}

.s2-to-tree li.select2-results__option.non-leaf .expand-collapse:hover {
    color: #2196F3!important;
}

.uniform-checker span:after, .form-check-control-indicator:after {
    font-family: 'Font Awesome 5 Free'!important;
    content: '\f00c'!important;
    color: #212121;
    font-size: 12px!important;
    padding: 3px;
    padding-top: 4px;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.uniform-checker .checked, .form-check-control-indicator {
    display: inline-block;
    font-size: 1rem;
    font-style: normal;
    font-variant: normal;
    min-width: 1em;
    vertical-align: middle;
    position: relative;
    /* top: -2px; */
}

.uniform-checker.hover{
    background-color: #F9FBFC;
}

.uniform-checker span, .form-check-control-indicator {
    border: solid 1px #212121!important;
}

.select2-search--dropdown:after {
    line-height: 1.6;
}

.select2-selection {
    height: 36px;
}

.multiselect-always-open + .btn-group .multiselect-container {
    width: 100%;
}

.multiselect-always-open + .btn-group .multiselect-container .dropdown-item {
    height: 32px;
}

.multiselect-always-open + .btn-group .multiselect-container .dropdown-item:hover {
    color: #212121;
}

.multiselect-filter .input-group-append {
    display: none;
}

.s2-to-tree li.select2-results__option {
    overflow: unset!important;
}

.input-group-prepend .select2-selection {
    background-color: #F9FBFC;
}

.form-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
}

.form-subtitle {
    font-size: 16px;
}