table th, table td {
    border-right: solid 1px #dddddd;
}

table th:last-child, table td:last-child {
    border-right: none;
}

.dataTables_filter {
    display: none;
}

.table-message {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

.datatable-scroll-wrap   {
    min-height: 320px!important;
}

.datatable-header {
    position: absolute;
    right: 0;
    top: -72px;
    border: none;
}

.dataTables_paginate .paginate_button {
    height: 34px;
    line-height: 1.3;
    margin: 0;
}

.dataTables_paginate .paginate_button.disabled, .dataTables_paginate .paginate_button.disabled:hover {
    color: #DBDDDE;
}

.dataTables_paginate .paginate_button.current {background-color: #212121;border-radius: 0;border: solid 1px #212121!important;}

.dataTables_paginate .paginate_button:first-of-type, .dataTables_paginate .paginate_button:last-of-type {border: solid 1px #DBDDDE;}

.dataTables_paginate .paginate_button:first-of-type {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.dataTables_paginate .paginate_button:last-of-type {
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.dataTables_paginate span .paginate_button {
    border-radius: 0!important;
    margin: 0;
    border: solid 1px #DBDDDE;
}

thead th {
    border: none!important;
    padding: 12px!important;
    font-size: 15px;
    font-weight: 600!important;
}

.dataTable thead .sorting:after, .dataTable thead .sorting:before,
.dataTable thead .sorting_asc:after, .dataTable thead .sorting_asc:before,
.dataTable thead .sorting_desc:after, .dataTable thead .sorting_desc:before {
    background-color: #F9FBFC;
    border-radius: 3px;
    opacity: 1;
    /* padding: 5px; */
    height: 17px;
    width: 17px;
    text-align: center;
    line-height: 1.5;
}

.dataTable thead .sorting:before {
    margin-top: 2px;
}

.dataTable thead .sorting:after {
    margin-top: -18px;
}

tbody tr.odd td {
    background-color: #F9FBFC;
}

tbody tr td {
    border: none!important;
}

tbody tr.odd td:first-of-type {
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}

.datatable-scroll-wrap {
    padding: 0 20px;
}

.datatable-footer {
    border-top: solid 1px #DBDDDE;
}

.dataTables_paginate .paginate_button {
    padding: 8px 12px;
}

.paginate_button.current:hover {
    cursor: default;
    background-color: #212121!important;
}

tbody tr.odd td:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sorting_disabled {
    pointer-events: none!important;
}

table td {
    padding: 10px 10px!important;
    font-size: 15px;
}

