@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

input[type=radio] {
    display: none;
}
input[type=radio]:checked + label span {
    transform: scale(1.25);
}
input[type=radio]:checked + label .red {
    border: 2px solid #711313;
}
input[type=radio]:checked + label .orange {
    border: 2px solid #873a08;
}
input[type=radio]:checked + label .yellow {
    border: 2px solid #816102;
}
input[type=radio]:checked + label .olive {
    border: 2px solid #505a0b;
}
input[type=radio]:checked + label .green {
    border: 2px solid #0e4e1d;
}
input[type=radio]:checked + label .teal {
    border: 2px solid #003633;
}
input[type=radio]:checked + label .blue {
    border: 2px solid #103f62;
}
input[type=radio]:checked + label .violet {
    border: 2px solid #321a64;
}
input[type=radio]:checked + label .purple {
    border: 2px solid #501962;
}
input[type=radio]:checked + label .pink {
    border: 2px solid #851554;
}

label.color {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}
label.color:hover span {
    transform: scale(1.25);
}
label.color span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

.bg-color-red,
label.color span.red {
    background: #DB2828;
}
.bg-color-orange,
label.color span.orange {
    background: #F2711C;
}
.bg-color-yellow,
label.color span.yellow {
    background: #FBBD08;
}
.bg-color-olive,
label.color span.olive {
    background: #B5CC18;
}
.bg-color-green,
label.color span.green {
    background: #21BA45;
}
.bg-color-teal,
label.color span.teal {
    background: #00B5AD;
}
.bg-color-blue,
label.color span.blue {
    background: #2185D0;
}
.bg-color-violet,
label.color span.violet {
    background: #6435C9;
}
.bg-color-purple,
label.color span.purple {
    background: #A333C8;
}
.bg-color-pink,
label.color span.pink {
    background: #E03997;
}